@tailwind base;

body,
html {
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    cursor: none;
}

* {
    cursor: none !important;
}

*:hover {
    cursor: none !important;
}


body {
    @apply bg-black font-Montserrat;
}

::selection {
    @apply bg-primary text-white [text-shadow:_2px_2px_0_rgb(0_0_0_/_90%)];
}

p::selection,
h4::selection {
    @apply bg-primary text-white [text-shadow:_1px_1px_0_rgb(0_0_0_/_90%)];
}

@font-face {
    font-family: "ClashDisplay";
    font-weight: 200;
    src: url("../src/fonts/ClashDisplay/ClashDisplay-Extralight.woff") format("woff");
}

@font-face {
    font-family: "ClashDisplay";
    font-weight: 300;
    src: url("../src/fonts/ClashDisplay/ClashDisplay-Light.woff") format("woff");
}

@font-face {
    font-family: "ClashDisplay";
    font-weight: 400;
    src: url("../src/fonts/ClashDisplay/ClashDisplay-Regular.woff") format("woff");
}

@font-face {
    font-family: "ClashDisplay";
    font-weight: 500;
    src: url("../src/fonts/ClashDisplay/ClashDisplay-Medium.woff") format("woff");
}

@font-face {
    font-family: "ClashDisplay";
    font-weight: 600;
    src: url("../src/fonts/ClashDisplay/ClashDisplay-Semibold.woff") format("woff");
}

@font-face {
    font-family: "ClashDisplay";
    font-weight: 700;
    src: url("../src/fonts/ClashDisplay/ClashDisplay-Bold.woff") format("woff");
}

@tailwind components;

#skills {
    background-image: url('./img/skills-bg.png');
    background-position: center center;
    background-size: contain;
    background-repeat: no-repeat
}

#world {
    background-image: url('./img/world.png');
    background-position: center 50px;
    background-size: contain;
    background-repeat: no-repeat
}

#world>.container {
    background-image: url('./img/world-container.png');
    background-position: bottom center;
    background-size: cover;
    background-repeat: no-repeat
}

#footer {
    background-image: url('./img/footer-bg.png');
    background-position: center top;
    background-size: contain;
    background-repeat: no-repeat
}

#footer h2 {
    line-height: 0 !important;
}

#card1 {
    background-image: url('./img/card1-bg.png');
    background-position: 40px 200px;
    background-size: contain;
    background-repeat: no-repeat;
}

#card2 {
    background-image: url('./img/card2-bg.png');
    background-position: 40px 200px;
    background-size: contain;
    background-repeat: no-repeat;
}

#card3 {
    background-image: url('./img/card3-bg.png');
    background-position: 40px 200px;
    background-size: contain;
    background-repeat: no-repeat;
}

#avianca {
    background-image: url(./img/avianca-home.png);
    background-position: center center;
    background-size: cover;
    transition: all 0.2s ease-in-out;
    background-repeat: no-repeat;
}

#avianca:hover {
    background-image: url(./img/avianca-home.gif);
}

#la-cima {
    background-image: url(./img/la-cima-home.png);
    background-position: center center;
    background-size: cover;
    transition: all 0.2s ease-in-out;
    background-repeat: no-repeat;
}

#la-cima:hover {
    background-image: url(./img/la-cima-home.gif);
}

#mastercard {
    background-image: url(./img/mastercard-home.png);
    background-position: center center;
    background-size: cover;
    transition: all 0.2s ease-in-out;
    background-repeat: no-repeat;
}

#mastercard:hover {
    background-image: url(./img/mastercard-home.gif);
}

#extras {
    background-image: url(./img/extras-home.png);
    background-position: center center;
    background-size: cover;
    transition: all 0.2s ease-in-out;
    background-repeat: no-repeat;
}

#extras:hover {
    background-image: url(./img/extras-home.gif);
}

@tailwind utilities;

.massiveImage {
    height: 100vh;
    width: 400vw;
    background-size: cover;
    background-position: center;
}

@media only screen and (max-width: 768px) {
    .massiveImage {
        height: auto;
        width: 100vw;
    }
}

.switch {
    position: relative;
}

.switch::after {
    content: '';
    width: 200px;
    height: 100px;
    position: absolute;
    bottom: -20px;
    left: 0;
    background-color: #00000030;
    filter: blur(20px);
    z-index: 0;
    mix-blend-mode: exclusion;
}

.switch[data-isOn="true"] {
    justify-content: flex-end;
}

.border-animated-bottom {

    border-image:
        linear-gradient(to bottom,
            #FFFFFF50,
            rgba(255, 255, 255, 0)) 1 100%;

}

.border-animated-bottom::before {
    content: '';
    position: absolute;
    left: -3px;
    bottom: 0;
    width: 5px;
    height: 50px;
    border-radius: 50%;
    background: linear-gradient(180deg, rgba(255, 255, 255, 0.9304096638655462) 0%, rgba(255, 255, 255, 1) 35%, rgba(255, 255, 255, 0) 100%);
    animation: starBottom 3s linear infinite;
}

.border-animated-bottom:last-child::after {
    content: '';
    position: absolute;
    right: -3px;
    bottom: 0;
    width: 5px;
    height: 50px;
    border-radius: 50%;
    background: linear-gradient(180deg, rgba(255, 255, 255, 0.9304096638655462) 0%, rgba(255, 255, 255, 1) 35%, rgba(255, 255, 255, 0) 100%);
    animation: starBottom 3s linear infinite;
}

@media only screen and (max-width:768px) {

    .border-animated-bottom::before,
    .border-animated-bottom:last-child::after {
        display: none;
    }

    .border-animated-bottom {
        border-image: none;
    }
}


@keyframes starBottom {
    0% {
        opacity: 0;
        transform: translateY(0);
    }

    75% {
        opacity: 1;
    }

    100% {
        opacity: 0;
        transform: translateY(-250px);
    }
}

@layer utilities {

    .scrollbar::-webkit-scrollbar,
    body::-webkit-scrollbar {
        width: 5px;
        height: 20px;
    }

    .scrollbar::-webkit-scrollbar-track,
    body::-webkit-scrollbar-track {
        background-color: rgba(0, 0, 0, 1);
    }

    .scrollbar::-webkit-scrollbar-thumb,
    body::-webkit-scrollbar-thumb {
        @apply bg-primary
    }

    .scrollbar::-webkit-scrollbar-thumb:hover,
    body::-webkit-scrollbar-thumb:hover {
        background: #c0a0b9;
    }



}